* {
margin: 0;
padding: 0;
}

aside, footer, address, section {
display:block;
}

img, iframe, video, embed {
max-width:100%!important;
}

#page{
	width: 100%;
	font: 100% 'Roboto', sans-serif;
}


.layout {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

.clear{
	clear: both;
}


/*HEADER*/

#header{
	background: url(../img/header.jpg) no-repeat;
}

#header .logo{
	display: block;
	float: left;
	padding-top: 1em;
	text-decoration: none;
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	font-size: 1.8em;
	font-weight: bold;

}

#header menu{
	width: 50%;
	float: right;
	padding: 30px;
}

#header menu li{
	float: left;
	list-style: none;
	padding: 0 30px 10px 0;
}

#header menu li a{
	text-decoration: none;
	font-family: 'Montserrat',sans-serif;
	font-size: 0.8em;
	color: #fff;
	text-transform: uppercase;
}

#header menu li hr{
	border: none; /* Убираем границу для браузера Firefox */
    color: #fce38a; /* Цвет линии для остальных браузеров */
    background-color: #fce38a; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
    margin-top: 2px;
    display: none;
}

#header menu li:hover a{
	color: #fce38a;
}

#header menu li:hover{
	padding: 0 30px 6px 0;
}

#header menu li:hover hr{
	display: block;
}

#header h1{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	font-size: 4em;
	padding-top: 0.5em;
	padding: 0;
}

#header h2{
	text-align: center;
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-size: 8em;
	text-transform: uppercase;
	font-weight: bold;
}

.line{
	width: 60px;
	margin: 4em auto 3em auto;
}

.line hr{
	border: none; /* Убираем границу для браузера Firefox */
    color: #fff; /* Цвет линии для остальных браузеров */
    background-color: #fff; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
}

a.button{
	text-decoration: none;
	font-family: 'Montserrat',sans-serif;
	font-size: 0.8em;
	color: #fff;
	text-transform: uppercase;
	border: 2px solid #fff;
	font-weight: bold;
	display: block;
	width: 160px;
	text-align: center;
	padding: 1em 0 1em 0;
	margin: 0 auto;
	opacity: 0.7;
	margin-bottom: 8em;
}

a.button:hover{
	opacity: 1;
}

/*----HEADER-END----*/

/*ABOUT*/

#about{
	background-color: #fff;
}

#about h3, #service h3, #design h3, #service2 h3, #team h3, #work h3, #people h3, #blog h3, #map h3{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 1.5em;
	margin-top: 4em;
	padding: 0;
}

#about h4, #service h4, #design h4, #service2 h4, #team h4, #work h4, #people h4, #blog h4{
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	font-size: 1.8em;
	margin-top: 0.2em;
	padding: 0;
}

#about .line2, #service .line2, #design .line2, #service2 .line2, #team .line2, #work .line2, #people .line2, #blog .line2, #map .line2{
	border: none; /* Убираем границу для браузера Firefox */
    color: #f38181; /* Цвет линии для остальных браузеров */
    background-color: #f38181;
    width: 60px;
    height: 2px;
    display: block;
    margin: 4em auto 3em auto;
}

#about p{
	color: #999;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0 14em 0 14em;
}

.box3{
	width: 31%;
	padding: 0% 1%;
	float: left;
	text-align: center;
	margin: 5.5em 0;
	background-color: #fff;
}

.box3 a{
	display: block;
	text-decoration: none;
	overflow: hidden;
	height: 246px;
}

.box3 div{
	position: relative;
	width: auto;
	height: 246px;
	padding: 8em 0 0 0;
}

.box3 div span{
	display: block;
	width: auto;
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.box3 a:hover div{
	bottom: 250px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f38181+0,f38181+0,fce38a+100 */
background: rgb(243,129,129); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(243,129,129,1) 0%, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 ); /* IE6-9 */

	opacity: 0.9;
}

/*-----ABOUT-END----*/


/*PROJECTS*/

#projects{
	width: 100%;
	background-color: #95e1d3;
}

#projects .box3{
	background-color: #95e1d3;
	margin: 0 5px;
	padding: 3em 0;
	width: 18%;
	border-left: 1px solid #b5eae0;
}

#projects .box3:last-child{
	border-right: 1px solid #b5eae0;
}

#projects h3{
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-size: 4em;
	font-weight: bold;
	color: #fff;
	
}

#projects h4{
	text-align: center;
	font-family: 'Montserrat',sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top: 1em;
}


/*--PROJECTS-END---*/


/*SERVICE*/

#service{
	background-color: #fff;
	padding-bottom: 2em;
}

#service .box3{
	width: 31%;
	padding: 1.5em 1%;
	float: left;
	text-align: center;
	margin: 1em 0;
	background-color: #fff;
}

#service img{
	display: block;
	float: left;
	width: auto;
}

#service .box3 div{
	float: right;
    padding: 0 0 0 10px;
    width: 85%;
    height: auto;
}

#service span{
	font-family: 'Montserrat',sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 1em;
}

#service p{
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #999;
	text-align: left;
}

#service hr{
    color: #e5e5e5; /* Цвет линии для остальных браузеров */
    background-color: #e5e5e5;
}

/*--SERVICE-END--*/


/*DESIGN*/

#design{
	background: url(../img/design-bg.jpg) no-repeat center center #d9d9d9;
	position: relative;
	padding-top: 2em;
}

#design .layout{
	overflow: visible;
}

.ipad{
	position: relative;
	margin-left: 25%;
	top: 5px;
}

.iphone{
	position: relative;
	right: 10%;
	top: 100px;
}


/*--DESIGN-END----*/

/*SERVISE2*/

#service2{
	background-color: #fff;
	padding-bottom: 5em;
}

#service2 .my-service2{
	color: #999;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0 14em 0 14em;
}

.image {
	width: 48%;
	display: block;
	margin-top: 5em;
	float: left;
}

.service-info{
	width: 50%;
	margin-left: 2%;
	margin-top: 5em;
	float: left;
}

/* стили блока аккордеон */
.accordion {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}
.accordion .accordion_item {
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #e5e5e5;
}
.accordion .title_block {
    background: #fff none repeat scroll 0 0;
    color: #333;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    padding: 10px 55px 10px 15px;
}
.accordion .title_block::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999;
    border-image: none;
    border-style: solid;
    border-width: 0 0 2px 2px;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 20px;
    top: 18px;
    transform: rotate(-45deg);
    width: 8px;
}
.accordion .active_block .title_block::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #999;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 0 0;
    top: 18px;
}
.accordion .title_block:hover {
    background: #f9f9f9 none repeat scroll 0 0;
}
.accordion .active_block .title_block {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #333;
}
.accordion .info {
    background: #fff none repeat scroll 0 0;
    display: none;
    overflow: hidden;
    padding: 10px 15px 0;
}
.accordion .info_item {
    margin-bottom: 10px;
    height: 200px;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 0.9em;
    color: #acacac;
}
.accordion .info img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    height: auto;
}
.large-img {
    margin-bottom: 10px;
    width: 100%;
}
.img-left {
    float: left;
    margin: 5px 15px 5px 0;
    width: 25%;
}
.img-right {
    float: right;
    margin: 5px 0 5px 15px;
    width: 25%;
}

#service2 h5{
	text-transform: uppercase;
}

.accordion_item img{
	display: block;
	float: left;
	margin: 6px 15px 6px 6px;
}

/*SCROLL*/

.info_item::-webkit-scrollbar{
    width: 7px;
}

.info_item::-webkit-scrollbar-thumb{
    border: 0;
    border-radius: 3px;
    border-color: #fff;
    background-color: #95e1d3;
}

.info_item::-webkit-scrollbar-thumb:hover{
    border: 0;
    border-color: #fff;
    background-color: #9cd0c6;
}

.info_item::-webkit-scrollbar-track{
    border-width:0;
}

.info_item::-webkit-scrollbar-track:hover{
    border: none;
    background-color: #fff;
}


/*--SERVISE2-END---*/


/*QUOTE*/

#quote{
	background-color: #f8f8f8;
}

#quote .layout{
	width: 1000px;
}



#quote .carousel img{
	float: left;
	margin-right: 20px;
}

#quote .carousel p{
	display: block;
	width: 800px;
	font-family: 'Roboto',sans-serif;
	font-size: 1.3em;
	color: #646464;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	margin-left: 20px;
}

#quote .carousel span.hr{
	display: inline-block;
	border: none; /* Убираем границу для браузера Firefox */
    color: #f38181; /* Цвет линии для остальных браузеров */
    background-color: #f38181;
    width: 60px;
    height: 2px;
	margin: 2em 1em 0 0;
}

#quote .carousel span{
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 1.3em;
}


.bx-wrapper .bx-viewport{
	background-color: #f8f8f8;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 75px;
}




/*--QUOTE-END---*/

/*TEAM*/
#team p{
	color: #999;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0 14em 0 14em;
}

#team .box3{
	width: 31%;
	height: auto;
	padding: 0% 1%;
	float: left;
	text-align: center;
	margin: 5.5em 0;
	background-color: #fff;
	overflow: hidden;
}

#team .box3 div{
	overflow: hidden;
	height: 486px;
	padding: 0;
}

.team1{
	background: url(../img/team1.jpg) no-repeat;
	background-position: 20% 50%;
}

.team2{
	background: url(../img/team2.jpg) no-repeat;
	background-position: 60% 100%;
}

.team3{
	background: url(../img/team3.jpg) no-repeat;
	background-position: 50% 10%;
}



#team span{
	display: none;
}

div.team1:hover div, div.team2:hover div, div.team3:hover div{
	bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f38181+0,f38181+0,fce38a+100 */
background: rgb(243,129,129); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(243,129,129,1) 0%, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 ); /* IE6-9 */

	opacity: 0.9;
}

#team .box3 div.team1:hover span, #team .box3 div.team2:hover span, #team .box3 div.team3:hover span{
	display: inline-block;
	margin-top: 60%;
}

#team .box3 a.fb{
	width: 55px;
	height: 55px;
	background: url(../img/fb-h.jpg);
}

#team .box3 a.twitter{
	width: 55px;
	height: 55px;
	background: url(../img/twitter-h.jpg);
}

#team .box3 a.prin{
	width: 55px;
	height: 55px;
	background: url(../img/print-h.jpg);
}

#team .box3 a.ig{
	width: 55px;
	height: 55px;
	background: url(../img/inst-h.jpg);
}



#team .box3 a:hover img{
	opacity: 0;
}


#team .box3 h3{
	font-family: 'Montserrat',sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #333;
	text-transform: uppercase;
	margin-top: 15px;
}

#team .box3 h4{
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #ccc;
	font-style: italic;
	text-transform: none;
}


/*--TEAM-END-----*/

/*CLIENTS*/

#clients{
	background-color: #f8f8f8;
}

#clients .layout{
	text-align: center;
	background-color: #f8f8f8;
	padding: 3.3em 0;
}


/*--CLIENTS-END---*/

/*WORK*/

#work{
	background-color: #fff;
}

#work p{
	color: #999;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0 14em 5.5em 14em;
}

.box4{
	width: 25%;
	height: 780px;
	padding: 0;
	float: left;
	text-align: center;
	margin: 0 0 5.5em 0;
}

.table1{
	background: url(../img/table1.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 50% 90%;
}

.table3{
	background: url(../img/table3.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 50% 20%;
}

.table2{
	background: url(../img/table2.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 50% 100%;
}

.table4{
	background: url(../img/table4.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 50% 90%;
}

.table5{
	background: url(../img/table5.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 0 10%;
}

.table6{
	background: url(../img/table7.jpg) no-repeat;
	width: 100%;
	height: 50%;
	background-position: 50% 0;
}

.large{
	background: url(../img/table-large.jpg) no-repeat;
	width: 100%;
	height: 780px;
	background-position: 47% 100%;
}

div.table-h{
	display: none;
	background: rgb(243,129,129); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(243,129,129,1) 0%, rgba(243,129,129,1) 0%, rgba(252,227,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(243,129,129,1) 0%,rgba(243,129,129,1) 0%,rgba(252,227,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f38181', endColorstr='#fce38a',GradientType=0 ); /* IE6-9 */
width: 100%;
height: 100%;
opacity: 0.9;
}

.table-h img{
	margin-top: 50%;
}

#work .table-h h3{
	font-family: 'Montserrat',sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	margin-top: 1.5em;
}

#work .table-h h4{
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #fff;
	font-style: italic;
	text-transform: none;
	margin-top: 1.2em;
}

div.table1:hover div.table-h,div.table2:hover div.table-h, div.table3:hover div.table-h, div.table4:hover div.table-h, div.table5:hover div.table-h, div.table6:hover div.table-h, div.large:hover div.table-h{
	display: block;
}

#work .box4 a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

/*--WORK-END---*/

/*QUOTE2*/
#quote2{
	background-color: #f8f8f8;
}

#quote2 .layout{
	width: 1000px;
}



#quote2 .carousel img{
	float: left;
	margin-right: 20px;
}

#quote2 .carousel p{
	display: block;
	width: 800px;
	font-family: 'Roboto',sans-serif;
	font-size: 1.3em;
	color: #646464;
	text-transform: none;
	font-style: italic;
	font-weight: normal;
	margin-left: 20px;
}

#quote2 .carousel span.hr{
	display: inline-block;
	border: none; /* Убираем границу для браузера Firefox */
    color: #f38181; /* Цвет линии для остальных браузеров */
    background-color: #f38181;
    width: 60px;
    height: 2px;
	margin: 2em 1em 0 0;
}

#quote2 .carousel span{
	font-family: 'Kaushan Script', cursive;
	color: #333;
	font-size: 1.3em;
}


/*--QUOTE2-END---*/

/*PEOPLE*/

#people{
	background: url(../img/people-bg.jpg) no-repeat;
	background-position: 50% 0;
	padding-bottom: 4em;
}

#people p{
	color: #999;
	font-size: 0.8em;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 0 14em 0 14em;
}

.box2{
	width: 48%;
	float: left;
	text-align: left;
	margin: 2.5em 0;
	padding-left: 1em;
}

.for-photo{
	background: url(../img/people1.jpg) no-repeat 50% 10%;
	width: 110px;
	height: 110px;
	float: left;
	border: none;
	border-radius: 50%;
	overflow: hidden;
}
.people1{
	background: url(../img/people1.jpg) no-repeat 50% 10%;
}

.people2{
	background: url(../img/people2.jpg) no-repeat 55% 50%;
}

.people3{
	background: url(../img/people3.jpg) no-repeat 50% 10%;
}

.people4{
	background: url(../img/people4.jpg) no-repeat 25% 10%;
}

.for-info{
	text-align: left;
	float: left;
	width: 80%;
}

#people .for-info h3{
	font-family: 'Montserrat',sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	text-align: left;
	color: #333;
	text-transform: uppercase;
	margin-top: 0;
	padding: 0 3em; 
}

#people .for-info h4{
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #ccc;
	text-align: left;
	font-style: italic;
	text-transform: none;
	padding: 0 3em;
}

#people .for-info .line2{
	margin: 1em 0 0 3em;
}

#people .for-info p{
	padding: 1.5em 3em 0;
    text-align: left;
}
/*--PEOPLE-END-----*/


/*BLOG*/

#blog{
	background: #fff;
	padding-bottom: 4em;
}

#blog .box3{
	margin: 0;
	position: relative;
}

#blog img{
	height: 240px;
}

#blog .date{
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
	padding: 0;
	position: absolute;
	top: 150px;
	left: 5px;
}

#blog .date span{
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	color: #fff;
	text-align: center;
	font-style: italic;
	text-transform: none;
	padding: 0;
	font-weight: normal;
}

#blog .date span:first-child{
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	padding: 0.3em 0 0 0;
}

#blog .box3 h3{
	font-family: 'Montserrat',sans-serif;
	color: #333;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	margin: 0;
	padding: 1em 5px 0 5px;
}

#blog .box3 h4{
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	color: #ccc;
	text-align: left;
	text-transform: none;
	padding: 0.7em 5px 0.7em 5px;
	font-weight: normal;
	border-bottom: 2px solid #ccc;
}

#blog hr{
	height: 2px;
	border: none; /* Убираем границу для браузера Firefox */
    color: #ccc; /* Цвет линии для остальных браузеров */
    background-color: #ccc;
    padding: 0 5px 0 5px;
    margin-top: 1em;
}

#blog .views{
	height: 30px;
	text-align: left;
	padding: 1em 5px 0 5px;
	text-align: left;
}

.view{
	float: left;
}

#blog span.view img{
	text-align: left;
	width: 20px;
	height: 12px;
	padding-right: 10px;
}

#blog span.comment img{
	width: 17px;
	height: 15px;
	margin-left: 20px;
}
#blog .views span{
	color: #ccc;
	display: inline;
	padding: 0;
	margin: 0;
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	color: #ccc;
	font-style: italic;
	font-weight: normal;
}


/*--BLOG-END---*/


/*MAP*/
#map{
	background: url(../img/map.jpg) no-repeat 50% 50% #fff;
	padding: 4em 0;
}

#map h3{
	margin-top: 0;
	font-family: 'Montserrat',sans-serif;
	color: #f38181;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

#map .line2{
	margin-bottom: 0;
	margin-top: 1em;
}

#map img{
	display: block;
	margin: 0 auto;
}

/*--MAP-END---*/

/*FOOTER*/

#footer{
	background-color: #f8f8f8;
}

#footer .box3{
	text-align: left;
	background-color: #f8f8f8;
}

#footer h3{
	font-family: 'Montserrat',sans-serif;
	color: #ccc;
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	padding-bottom: 0.5em;
}

#footer p{
	text-align: left;
	font-family: 'Roboto',sans-serif;
	color: #ccc;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}

#footer .box3 div{
	width: auto;
	height: auto;
	padding: 3em 0 1em;
	text-align: left
}

#footer .box3 div span:first-child{
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	display: inline-block;
}

#footer .box3 div span:last-child{
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	display: inline-block;
	text-transform: none;
}

#footer hr{
	height: 1px;
	border: none; /* Убираем границу для браузера Firefox */
    color: #ccc; /* Цвет линии для остальных браузеров */
    background-color: #ccc;
    padding: 0 5px 0 5px;
    margin: 0;
}

#footer .box3 div.social{
	padding-top: 1em;
}

#footer div.social span.follow{
	font-family: 'Roboto',sans-serif;
	font-size: 1em;
	color: #b1b1b1;
	font-style: italic;
	font-weight: normal;
	text-transform: none;
}

#footer div.social img{
	margin-left: 10px;
}

#footer .box3 div.my-form{
	width: 90%;
	height: 40px;
	background-color: #fff;
	border: 1px solid #95e1d3;
	padding: 0;
}

#footer form{
	padding: 0;
	margin: 0;
}

input{
	width: 56%;
	height: 40px;
	border: none;
	background-color: #fff;
	padding: 0 10px;
	color: #ccc;
	font-style: italic;
}

input[type=submit]{
	width: 38%;
	height: 40px;
	border: none;
	background-color: #95e1d3;
	float: right;
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: bold;
	font-style: normal;
	text-transform: uppercase;
	cursor: pointer;
}

#footer .box3 .my-blog{
	padding: 0 0 2em;
}

#footer .box3 .my-blog img{
	float: left;
	margin-right: 1em;
}

#footer .box3 .my-blog p{
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	padding-top: 1em;
}

#footer .second .my-blog span.my-date{
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #ccc;
	font-style: italic;
	text-transform: none;
	padding-top: 0.5em;
}

#footer .second h4{
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 2.5em;

}

#footer .third h4{
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	padding-bottom: 2.5em;

}

#footer .box3 .photo{
	padding: 0;
}

#footer .box3 a{
	display: inline;
	height: auto;
	font-family: 'Roboto',sans-serif;
	font-size: 0.9em;
	color: #333;
	font-style: italic;
	text-transform: none;
	padding-top: 0.5em;
	text-decoration: none;
}

#footer .box3{
	margin-bottom: 2em;
}
/*--FOOTER-END---*/

/*FOOTER-INFO*/

#footer-info{
	background-color: #f8f8f8;
}

#footer-info .layout{
	border-top: 1px solid #ccc;
}

#footer-info p{
	text-align: center;
	color: #333;
	font-family: 'Montserrat',sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	padding: 1em 0;
}

#footer-info a{
	color: #f38181;
	text-decoration: none;
}
/*--FOOTER-INFO---*/



/*    ---- from 1024px   ---- */


@media screen and (min-width:1025px), only screen and (min-device-width:1025px) {
.layout, #quote .layout, #quote2 .layout {
width: 1200px;
}

}

/*    ---- 769 to 1024px   ---- */


@media screen and (max-width:1024px), only screen and (max-device-width:1024px) {
.layout, #quote .layout, #quote2 .layout {
width: 768px;
}

#header h1{font-size: 3em;
}

#header h2{font-size: 6em;
}

#header menu li{
	padding: 0 15px 10px 0;
}

#about p, #service2 .my-service2, #team p{
	padding: 0 8em;
}

#about .box3 div{
	height: 118px;
}

#service .box3 div{
	width: 80%;
}

.ipad{
	margin-left: 20%;
	top: 4px;
}

.iphone{
	position: absolute;
	top: 530px;
}

.accordion .info_item{
	height: 75px;
}

#quote .carousel p, #quote2 .carousel p{
	width: 600px;
}

#work p{
	padding: 0 8em 5.5em 8em;
}

.box2{
	padding: 0;
}

.for-info{
	width: 70%;
}

#blog img{
	height: 190px;
}

#blog .box3 h3{
	height: 40px;
}

#blog .box3 h4{
	height: 5em;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
}

#blog .date{
	top: 120px;
}

#footer div.social span.follow{
	display: block;
}

input{
	width: 90%;
}

input[type=submit]{
	width: 100%;
}

.photo img{
	width: 31%;
}


}


/*    ---- 769 to 1024px   ---- */



/*    ---- 600px to 784px   ---- */


@media screen and (max-width:784px), only screen and (max-device-width:784px) {

.layout{
	width: 100%;
}

#about h3, #service h3, #design h3, #service2 h3, #team h3, #work h3, #people h3, #blog h3, #map h3{
	margin-top: 1em;
}

#about .line2, #service .line2, #design .line2, #service2 .line2, #team .line2, #work .line2, #people .line2, #blog .line2, #map .line2{
	margin: 1em auto;
}

#header menu{
	width: 70%;
}

#header h1{
	font-size: 2em;
}

#header h2{
	font-size: 4em;
}

#about p, #service2 .my-service2, #team p{
	padding: 0 3em;
}

#projects h3{
	font-size: 2em;
}
#projects h4{
	font-size: 0.7em;
}

#service img{
	display: none;
}

#service .box3 div{
	width: 95%;
}

.ipad{
	margin-left: 5%;
}
.iphone{
	top: 380px;
	right: 1%;
}

.image{
	width: 100%;
	clear: both;
}

#service2 h3{
	margin-top: 4em;
}

.service-info{
	width: 100%;
	margin-top: 2em;
	clear: both;
}

#quote, #quote2{
	display: none;
}

#work .box4{
	width: 50%;
	margin: 0;
}

.for-photo{
	margin: 0 auto;
	float: none;
}

.for-info{
	text-align: center;
	text-align: -webkit-center;
	width: 100%;
}

#people .for-info h3, #people .for-info h4{
	text-align: center;
	text-align: -webkit-center;
}


#people .for-info .line2{
	margin: 10px auto;
}

#people .for-info p{
	padding: 0 15px;
}

#blog img{
	height: 120px;
}

#blog .date{
	top: 60px;
}

#people .for-info p{
	padding: 1.5em 0em 0;
}

#footer .box3{
	width: 100%;
	text-align: center;
	text-align: -webkit-center;
	margin: 2em 0;
}

#footer .box3 div.social, #footer .box3 .photo{
	text-align: center;
	text-align: -webkit-center;
}

#footer div.social span.follow{
	display: inline;
}


}


/*    ---- 320px to 599px   ---- */


@media screen and (max-width:599px), only screen and (max-device-width:599px) {

.layout{
		width: 100%;
}

#header .logo{
	float: none;
	margin: 0 auto;
	text-align: center;
	text-align: -webkit-center;
}

#header menu{
	width: 100%;
	float: none;
	padding: 30px 0;
}

#header menu li{
	float: none;
	width: 100%;
	text-align: center;
	text-align: -webkit-center;
}

#header h2{
	font-size: 2em;
}

#about h3, #service h3, #design h3, #service2 h3, #team h3, #work h3, #people h3, #blog h3, #map h3{
	margin-top: 2em;
}

#about .line2, #service .line2, #design .line2, #service2 .line2, #team .line2, #work .line2, #people .line2, #blog .line2, #map .line2{
	margin: 1em auto 1em auto;
}

#about p, #service2 .my-service2, #team p {
    padding: 0 10px;
}

#about .box3 {
    display: none;
}

#projects{
	margin-top: 1em;
}

#projects .box3{
	width: 100%;
	float: none;
	padding: 0;
	border: none;
	border-bottom: 1px solid #b5eae0;
	padding-bottom: 5px;
}

#service .box3{
	width: 100%;
	padding: 0;
	text-align: center;
}

#service .box3 div{
	width: 100%;
}

#service span{
	text-align: center;
	text-align: -webkit-center;
}

#service p{
	padding: 0 10px;
}

#service .clear{
	display: none;
}

#service img{
	display: inline;
	float: none;
}

.ipad{
	margin-left: 0;
}

.iphone{
	display: none;
}

#service2{
	padding-bottom: 1em;
}

#team .box3{
	width: 100%;
	margin: 1em 0;
}


div.team1:hover div, div.team2:hover div, div.team3:hover div{
	opacity: 0;
}


#work p{
    padding: 0 10px 5.5em 10px;
}

.box4{
	width: 50%;
	margin: 0;
}

.box2{
	width: 100%;
}

.for-info{
	width: 100%;
}
#people .for-info h4{
	text-align: center;
	text-align: -webkit-center;
}

#people .for-info p{}

.for-photo{
	float: none;
}

#people .for-info p {
    padding: 1.5em 10px 0;
    text-align: -webkit-center;
    text-align: center;
}

#people{
	padding-bottom: 1em;
}

#blog .box3{
	width: 100%;
}

#blog .box3 h3, #footer h3{
	text-align: -webkit-center;
    text-align: center;
}

#blog .views{
	width: 50%;
	margin: 0 auto;
}

#blog img{
	width: 200px;
}
#blog .date{
	top: 50px;
	left: 20%;
}

#footer .box3{
	padding: 0;
}

#footer .box3 .my-blog{
	padding: 0 0 1em;
}

#footer p{
	padding: 0 10px;
}

#footer .box3 div{
	padding: 1em 0 1em;
}

#footer .box3 div span:first-child{
	margin-left: 10px;
}

#footer div.social span.follow {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}


}